:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* Start Box */
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.f-wrap {
    flex-wrap: wrap;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
@media (max-width:767px) {
    .block-mobile {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}
/* End Box */
/* Start Padding & Margin */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-5 {
    padding-top: 5px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-5 {
    padding-bottom: 5px;
}
.p-20 {
    padding: 20px;
}
.m-20 {
    margin: 20px;
}
.m-0 {
    margin: 0;
}
.mt-25 {
    margin-top: 25px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
/* End Padding & Margin */
/* Start Colors */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
.c-black {
    color: black;
}
.c-grey {
    color: var(--grey-color);
}
.c-white {
    color: white;
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color);
}
.c-red {
    color: red;
}
/* End Colors */
/* Start Positions */
.p-rltv {
    position: relative;
}
/* End Positions */
/* Start Font */
.txt-c {
    text-align: center;
}
@media (max-width:767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-25 {
    font-size: 25px;
}
.fw-bold {
    font-weight: bold;
}
/* End Font */
/* Start Border */
.rad-6 {
    border-radius: 6px;
}
.b-none {
    border: none;
}
/* End Border */
/* Start width */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.h-full {
    height: 100%;
}
.border-eee {
    border: 1px solid #eee;
}
/* End width */
/* Start Component */
.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.special-head {
    width: fit-content;
    margin: 20px 20px 40px;
}
.special-head::before,
.special-head::after {
    content: '';
    position: absolute;
    height: 3px;
    bottom: -10px;
    left: 0;
}
.special-head::before {
    width: 120px;
    background-color: white;
}
.special-head::after {
    width: 40px;
    background-color: black;
}
.prjct-btn {
    padding: 4px 10px;
    border-radius: 6px;
}
.btn-shaped {
    padding: 4px 10px;
    border-radius: 6px;
}
.btn-shaped:hover {
    background-color: var(--blue-alt-color);
}
/* End Component */